{% extends "base.html" %}
{% load  static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/include/header.css' %}">

{% endblock css %}

{% block content %}
<header class="header">
  <div class="container">
    <a href="{% url 'panel_app:index' %}"><img class="logo" src="{% static 'img/logo.png' %}" alt="logo teclado"></a>
    <div class="container__buscador">
      <form method="GET" class="form">
        <button class="lupa" type="submit"><img src="{% static 'img/search.png' %}" alt=""></button>
        <input type="text" id="kword" name="kword" placeholder="Buscar..">
      </form>
    </div>
    <nav class="navegation">
      <button class="hamburger" id="hamburger">  <img src="{% static 'img/menu_bar.png' %}" alt="">   </button>
      <ul class="nav-ul" id="nav-ul">
        {% if  user.is_anonymous %}
        <li><a href="{% url 'users_app:login' %}">Iniciar Sesion</a></li>
        <li><a href="{% url 'users_app:register' %}">Registrarse</a></li>
        {% else %}
        <li>perfil</li>
        <ul>
          <li> <a href="{% url 'users_app:logout'  %}">Cerrar Sesion</a></li>
        </ul>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>

{% endblock content %}

